.sub i {
    padding-bottom: 30%;
}

.section_block {
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 50px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.content_title_sub.relative {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    bottom: 20%;
}

.section_block .sub {
    width: 30%;
}

.smart_hub .section_block {
    padding: 9rem 0 2rem;
}

.smart_hub .section_block.sec_top {
    background: #eee;
}

.smart_hub .content_img.sec_top img {
    position: absolute;
    width: 90%;
    float: right;
    top: 5%;
    right: 15%;
    z-index: 1;
}

.section_tab {
    min-height: 400px;
    position: relative;
}

.tab_block {
    width: 100% !important;
    margin-bottom: 0px !important;
}

.tab_container {
    width: 100% !important;
    text-align: center;
}

.tab_container div {
    width: 100%;
    padding: 5% 0;
}

.tab_container img {
    margin: 10px 0;
    width: 50%;
}

ul.tab-nav {
    position: absolute;
    min-width: 250px;
    left: 2%;
    top: -4.75rem;
    z-index: 9;
    background: #fff;
    padding: 10px;
    -webkit-box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.3);
}

.tab-nav li {
    display: block;
    float: none;
    text-align: left;
}

.tab-nav li a {
    display: block;
    text-decoration: none;
    font-family: k_light;
    background: #fff;
    color: #555;
    font-size: 26px;
    padding: 5px 20px;
}

a.active {
    font-family: k_bold !important;
    border-left: 4px solid #000;
}

.tab-title {
    font-family: k_bold;
    font-size: 45px;
    line-height: 35px;
    margin: 0;
}
.tab-title i {
    font-size: 30px;
}


.tab-text_line {
    font-family: k_bold;
    font-size: 35px;
    color: #555;
    margin: 0;
}

.tab-desc {
    font-family: k_light;
    font-size: 27px;
    line-height: 20px;
    color: #555;
    margin: 0 0 1%;
}

.owl-stage {
    /*width: 100% !important;*/
}

.owl-item {
    /*width: 100% !important;*/
}

.tab_center img {
    width: 30%;
}

.tab_center p {text-align: center;}

.owl-item .item {
    position: relative;
    /*min-height: 500px;*/
}

.owl-carousel .tab-title {
    width: 48%;
    display: inline-block;
}

.owl-item .item img {
    width: 48%;
    height: auto;
    display: inline-block;
}

.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    width: 5% !important;
    display: inline-block;
}

.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    width: 5% !important;
    display: inline-block;
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.tab_single-remote {
    background: radial-gradient(ellipse at center, #004b75 0%, #000000 100%);
    background: -moz-radial-gradient(center, ellipse cover, #004b75 0%, #000000 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #004b75 0%, #000000 100%);
    filter: none;

 }
 .col-tab-1{
     width : 90%;  
 }
 .col-tab-2{
     width: 48% !important;
     padding: 0 10px;
     /* float: left; */
     position: relative;
 }

.tab_full{
    padding: 0;
 }
.tab_full img {
    width: 100%;
 }
.tab_center{
    padding: 7% 0;
}
.tab_col-2 {
    width: 49%;
    padding: 15px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

.tab_hub {
    padding: 7% 0 2%;
    background: url('../images/tab-bg-hub.jpg');
    background-size: 120%;
    background-position: center top;
    margin-top: -5px;
}

.tab_hub .tab_center{
    color:#000;
}
.tab_tv {
    padding : 10% 0 3%;
}
.tab_hub {
    padding : 10px;
}
.tab_app {
    width: 100%;
    box-sizing: border-box;
    display: table;
}

@media screen and (max-width: 1000px) {
    #tabs_container img {
        width: 80%;
    }
    ul.tab-nav {
        padding: 10px;
        top: -4.5rem;
        min-width : 200px;
    }
    .tab-nav li a{
        padding: 5px 20px;
        font-size: 22px;
    }
}



@media screen and (max-width: 800px) {
    #tabs_container img {
        width: 80%;
    }
    ul.tab-nav {
        top: -3.75rem;
        padding: 5px;
    }

}

@media screen and (min-width: 725px) {
    .visible-block{
        display: none;
    }
}
@media screen and (max-width: 725px) {
    .hidden-block {
        display: none;
    }
    .tab-title {
    font-size: 40px;
    line-height: 27px;
 }
	.tab-title i {
		font-size: 30px;
	}


	.tab-text_line {
		font-size: 25px;
		line-height: 22px;
		padding: 5px 0;
	}

	.tab-desc {
		font-family: k_light;
		font-size: 20px;
		line-height: 15px;
		color: #555;
		margin: 0 0 1%;
	}
    .tab_center .tab-title p {
        width: 100%;
        font-size: 35px;
        text-align: center;
        padding: 0 10px;
        box-sizing: border-box;
        line-height: 30px;
    }
    .tab_center img {
        width: 100%;
        text-align: center;
    }
       .content_title_coll > input {
        display: none;
        visibility: hidden;
    }
    .content_title_coll > label {
        display: block;
        padding: 0.5em;
        text-align: right;
        color: #555;
    }
    .content_title_coll > label {
}
    .content_title_coll h1{
        font-size: 24px;
    }
    .content_title_coll p{
        font-size: 22px;
        line-height: 18px;
        margin: 0;
    }

   .content_title_coll p{
        color: #555;
    }
    #expand {
      height: 250px;
      overflow: hidden;
      transition: height 0.5s;
      background: transparent;
      color: #FFF;
      padding: 0 20px;
    }
    .page_tv #expand {
    background: black;
    }
    #toggle:checked ~ #expand {
      height: 0px;
    }
    #toggle:checked ~ label::before {
    }
    .page_hub.sub {
        width: 100%;
    }
    .page_hub.sub i {
        padding-bottom: 12% !important;
    }
    .page_hub .content_img {
    }
    ul.tab-nav {
        top: -3.0rem;
        padding: 5px;
        min-width: 160px;
    }
    ul.tab-nav a {
        font-size: 18px;
        padding: 3px 10px;
    }
    .tab_hub {
        text-align : center;
        background : inherit;
        padding: 0 10px !important;
    }

}



@media screen and (max-width: 600px) {
    .section_block .sub {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #tabs_container img {
        width: 100%;
    }
    .owl-carousel .tab-title {
        width: 100%;
        display: inline-block;
    }
    .owl-item .item img {
        width: 100%;
        height: auto;
        display: inline-block;
    }
}


/*TV_CHANNEL ----------------------------*/

.tv_channel .section_block.sec_top {
    background: transparent;
}

.tv_channel .page-main {
    background: url("../images/page-tv.jpg") no-repeat;
    background-size: 105%;
    background-position: center top;
}

.text_med {
    font-family: k_med !important;
}

.title_bold {
    font-family: k_bold !important;
    font-size: 32px;
    line-height: 30px;
    margin: 10px 0;
}

.text_bold {
    font-family: k_bold !important;
}

.col-4 {
    width: 30% !important;
    display: inline-block;
    vertical-align: top;
}

.tv_channel .col-4:first-child {
    vertical-align: middle;
}

.tv_channel .col-4:first-child::before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1%;
    vertical-align: middle;
}

.num_circle {
    font-family: k_med !important;
    font-size: 35px;
    padding: 12px;
    color: #555;
    background: #fff;
    border: 2px solid #555;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    margin: 0 0 .1em;
    text-align: center;
}

.num_circle.fluid {
    color: #fff;
    background: #555;
}

.num_circle.small {
    font-size: 27px;
    padding: 5px;
}

.text_caption {
    font-family: k_med;
    font-size: 25px;
    color: #555;
    margin: 0 0 1em;
}

.channel_item {
    /* width: 100%; */
    display: inline-block;
    text-align: left;
    margin-bottom: .5em;
    padding: 0 30px;
    box-sizing: border-box;
}

.channel-desc {
    display: inline;
    vertical-align: middle;
}

.channel-desc p {
    font-family: k_light;
    font-size: 32px;
    color: #555;
    margin: 0 0 .1em;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    margin: -8px 6px 0;
}

.channel-desc span {
    font-family: k_light;
    font-size: 22px;
    color: #555;
    margin: 0;
    display: inline-block;
}

.text_center {
    text-align: center;
}

.visible-sm {
    display: none;
}

@media screen and (max-width: 800px) {
    .tv_channel .col-4:first-child {
        display: block;
        width: 100% !important;
    }
    .tv_channel .col-4 {
        display: inline-block;
        width: 48% !important;
    }
    .tab_hub {
        padding: 7% 10px;
    }
}

@media screen and (max-width: 600px) {
    .visible-sm {
        display: block;
    }
    .col-4 {
        width: 100% !important;
    }
    .tv_channel .col-4 {
        width: 100% !important;
    }
    .channel_item {
        text-align: center;
    }
    .channel-desc {
        text-align: left;
    }
}
